* {
    color: #333333;
}

#male-players, #female-players {
    margin-bottom: 10px;
}

.player-name, .delete {
    margin: 5px;
}

#game-on, #player-entry {
    display: none;
}

#game-on .player-list {
    height: 20vh;
    background-color: #333333;
}

#game-on .player-list-name {
    color: whitesmoke;
}

#player-at-bat {
    height: 60vh;
}

#game-on .btn, #at-bat {
    position: relative;
    top: 30vh;
    transform: translateY(-50%);
}

#game-on .player-list-name, #game-on .fa {
    margin-right: 10px;
}

.top {
    margin-top: 2vh;
}

.heading h5 {
    padding-bottom: 2vh;
    border-bottom: 1px solid #333333;
}

.list {
    height: 58vh;
    overflow: scroll;
    margin-bottom: 2vh;
}

#at-bat {
    margin: 0;
    font-size: 80px;
}

#game-on .vertical-center {
    position: absolute;
    transform: translate(50%, 130%);
}

#game-on .at-bat {
    color: red;
    font-weight: bold;
}

#restart-game {
    display: none;
    margin-right: 5px;
}